// style.scss

.navbar-right {
  padding-right: 10px;

  .nav-items {
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center;
    gap: clamp(0.9375rem, 0.3411rem + 1.9084vw, 1.5625rem);

    .nav-name {
      font-size: clamp(0.9375rem, 0.5916rem + 1.1069vw, 1.3rem);
      font-weight: 100;
      letter-spacing: 1px;
      color: #42b983;
    }

    .nav-sign {
      &:hover {
        text-decoration: underline;
      }
    }

    .icon {
      color: #42b983;
      cursor: pointer; 
    }
  }
}