.account {
  display: grid;

  .account-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #373737;
    border-radius: 10px;
    width: 80%;
    padding: 1.5rem;
    text-align: left;
    margin-inline: auto;
    margin-bottom: 1rem;

    .account-content-wrapper {
      width: auto;
      display: grid;
      gap: 8px;

      .account-title {
        font-size: 1rem;
        font-weight: normal;
      }

      .account-amount {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }

    .cta {
      .transaction-button {
        display: block;
        width: 100%;
        background: none;
        font-size: 4rem;
        border: none;
        color: #fff;
      }
    }
  }

  .collapse-content {
    padding: 10px;
    background: #f9f9f9;
    height: 0; 
    overflow: hidden; 
    transition: height 0.3s ease;
  }

  .collapse-content.open {
    height: auto; /* Ajuste cette valeur selon le contenu */
  }
}
