.account {
  display: grid;

  .account-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #373737;
    border-radius: 10px;
    width: 100%;
    padding: 1.5rem;
    text-align: left;
    margin-inline: auto;

    .account-content-wrapper {
      width: auto;
      display: grid;
      gap: 8px;

      .account-title {
        font-size: 1rem;
        font-weight: normal;
      }

      .account-amount {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }

    .cta {
      .fa-chevron-right{
        display: block;
        width: 100%;
        background: none;
        font-size: 4rem;
        border: none;
        color: #ffffff; 
      }
    }
  }

  .collapse-content {
    padding: 7px;
    background: #f9f9f9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .collapse-content.open {
    max-height: 1000px;
  }
}
