.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  bottom: -125%; 
  left: -150%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
